{% extends 'base.html' %} {% load static %} {% block style %}
<style>
  .col,
  .row {
    text-align: center;
  }
  button {
    margin-bottom: 0.3em;
    margin-top: 0.5em;
  }
  #question {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: rgb(204, 240, 241);
    background: radial-gradient(
      circle,
      rgba(204, 240, 241, 1) 0%,
      rgba(105, 188, 231, 1) 51%,
      rgba(29, 172, 247, 1) 77%
    );
    margin-top: 2em;
  }
  #questionContent,
  #questionAnswer,
  .questionNumber {
    font-size: 40px;
  }
  .questionNumber,
  #nextQuestion {
    margin-top: 0.1em;
  }
  .questionNumber {
    margin-bottom: 0;
    color: #0b3555;
  }
</style>
{% endblock %} {% block content %}
<div class="col-md-8" id="question">
  <div class="row">
    <div class="col-sm-12">
      <p class="questionNumber" style="font-size: 70px">
        <b><span id="questionNumber">0</span><span>/12</span></b>
      </p>
      <center>
        <nav class="btn-bar nav-dark nav-tangtoc">
          <a href="#" class="btn btn-glass new-btn-primary" id="nextQuestion">
            <i class="fa fa-arrow-circle-right"></i> Câu hỏi tiếp theo
          </a>
        </nav>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p id="questionContent"></p>
    </div>
    <div class="col-sm-12">
      <i
        ><b><p id="questionAnswer"></p></b
      ></i>
    </div>
    <div class="col-sm-12" id="questionFile"></div>
  </div>
  <br /><br />
</div>
<div class="col-md-4" id="manageAnswer">
  <div class="row">
    <div class="col-sm-12">
      <a id="countDown" class="animated-button8">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        60
      </a>
    </div>
  </div>
</div>
{% csrf_token %} {% endblock %} {% block scripts %}
<script>
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    function makeAjaxCall(questionContent, currentQuestionID) {
        // Make the AJAX call to notify the current question to the server and other screen of contestant
        $.ajax({
            url: "{% url 'currentQuestion'%}",
            method: "POST",
            data: {"question":questionContent, "questionID":currentQuestionID, "round": "tangtoc"},
            dataType: "json",
            traditional: true,
            success: function (data) {
                // Do nothing
            }
        });
    }

    function updateQuestionInfo(questionContent, questionInfo) {
      $.ajax({
          url: "{% url 'currentQuestion' %}",
          method: "POST",
          data: {
            "question": questionContent,
            "questionID": questionInfo.questionID,
            "questionFileType": questionInfo.questionFileType,
            "questionFile": questionInfo.questionFile,
          },
          traditional: true,
          success: function (data) {
              // Do nothing
          }
      })
  }

    let countDownBox = $("#countDown");

    var demgio = new Audio("{% static 'tangtoc/ButToc_60s.mp3' %}"); // ok
    countDownBox.click(function() {
        // Disable the button to avoid second click
        countDownBox.attr("disabled", "disabled");

        demgio.play();

        // Countdown 10s
        var countDownInterval = null;
        countDownInterval =  setInterval(function () {
            var newTime = parseInt(countDownBox.text()) - 1;
            if (newTime >= 0) {
                countDownBox.html("<span></span><span></span><span></span><span></span>" + newTime);
            } else {
                clearInterval(countDownInterval);
                // 60s per question-set
                countDownBox.html("<span></span><span></span><span></span><span></span>60");
                // Enable the box again for next question
                countDownBox.removeAttr("disabled");
            }
        }, 1000);
    });


    // Store all questions in an array
    let questions = {{ questions|safe }};

    var currentQuestionID = 0;

    function showNextQuestion(){
        let currentQuestion = questions[currentQuestionID]

        // Get all the information of this question
        let questionContent = currentQuestion["questionText"];
        let questionFileType = currentQuestion["fileType"];
        let questionFile = currentQuestion["file"];
        let fileDisplay = $("#questionFile");
        fileDisplay.empty();

        console.log(`====> Question file ${questionFile}`);

        if (questionFile) {

            console.log(`=====> ${questionFileType}`);

            if (questionFileType == "image") {
                fileDisplay.append("<img width='576' height='432' src=" + questionFile + ">");
            } else if (questionFileType == "video") {
                fileDisplay.append("<video width='576' height='432' controls><source src=" + questionFile + " type='video/mp4'></video>");
            } else if (questionFileType == "sound") {
                let htmlString = "<audio controls><source src="+ questionFile + " type='audio/mpeg'>Your browser does not support the audio element.</audio>"
                fileDisplay.append(htmlString);
            }
        }

        $("#questionContent").text(questionContent);
        // currentQuestionID begin with 0 for array index, but should be 1 in the database
        currentQuestionID++;
        $("#questionNumber").text(currentQuestionID);
        $("#showDapAnThiSinh").prop("disabled", false);
        $("#dapAnThiSinh").html();


        // Update the current question to the server
        // makeAjaxCall(questionContent, currentQuestionID);
        let currentQuestionInfo = {
            "questionID": currentQuestionID,
            "questionFileType": "None",
            "questionFile": "",
        }
        updateQuestionInfo(questionContent, currentQuestionInfo);
    }

    function showAnswer(){
        let currentQuestion = questions[currentQuestionID - 1]
        let questionAnswer = currentQuestion["answer"];
        $("#questionAnswer").text("Đáp án: " + questionAnswer);
    }

    $("#nextQuestion").click(function(event) {
        $("#questionAnswer").text("");
        if (currentQuestionID >= questions.length) {
            showAnswer();
            $("#questionContent").text("Kết thúc phần thi");
        } else {
            if(currentQuestionID > 0){
                showAnswer();
                setTimeout(function(){
                    $("#questionAnswer").text("");
                    showNextQuestion();
                }, 300);
            }
            else{
                showNextQuestion();
            }
        }
    });
</script>
{% endblock %}
