{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    /*.container {
        position: relative;
    }*/

    #message {
        color: white;
        text-align: center;
        margin: 0;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}
</style>
{% endblock %}

{% block scripts %}
<script>
    ost_path = "{% static 'ost/Britains_Brainiest_Theme_Song.mp3' %}";
</script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="message">
            {% if not message %}
                <h1>Chào mừng đến với chương trình Hành Trình Magellan!</h1>
            {% else %}
                <h1>{{message}}</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}