<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
          <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
          <title>HTM3 - Log In</title>
          <link href="{% static 'userprofile/style.css' %}" rel="stylesheet" type="text/css"/>
          <style>
               body {
                    background-color: #314B77;
                    min-width: 1280px;
               }

               ::placeholder {
                    color: #9370db !important;
               }
          </style>
     </head>
     <body>
          <div class="padding-all">
               <div class="header">
                    <h1><img src="{% static 'images/sailing-boat-icon.png' %}" alt=" ">HTM3 Login Form</h1>
               </div>

               <div class="design-w3l">
                    <div class="mail-form-agile">
                         <form action="#" method="post">
                              {% csrf_token %}
                              <input type="text" name="username" class="form-green-text" placeholder="Username" autofocus="" required="" id="id_username"/>
                              <input type="password" name="password" class="form-green-text padding" placeholder="Password" required="" id="id_password"/>
                              <input type="submit" value="submit">
                         </form>
                    </div>
                 <div class="clear"> </div>
               </div>
               
               <div class="footer">
               <p>© 2021 Login Form. All Rights Reserved</p>
               </div>
          </div>
     </body>
     <script src="{% static 'jquery.js' %}"></script>
     <script src="{% static 'popper.min.js' %}"></script>
     <script src="{% static 'bootstrap.min.js' %}"></script>
</html>
